<div class="static-content">
  <div class="col-md-12">
    <div class="panel panel-white" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
      <div class="panel-body">
        <div class="tab-content">
          <ul class="mini-timeline">
            <li class="mini-timeline-indigo">
              <div class="timeline-icon"><i class="ti ti-user"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Vincent Keller</a> added new task <a href="#/">Admin Dashboard UI</a>
                </div>
              </div>
              <span class="timeline-time">4 mins ago</span>
            </li>
            <li class="mini-timeline-deeporange">
              <div class="timeline-icon"><i class="ti ti-check"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Shawna Owen</a> added
                  <a href="#/" class="name">Alonzo Keller</a> and <a href="#/" class="name">Mario Bailey</a> to project
                  <a href="#/">Wordpress eCommerce Template</a>
                </div>
              </div>
              <span class="timeline-time">6 mins ago</span>
            </li>
            <li class="mini-timeline-info">
              <div class="timeline-icon"><i class="ti ti-brush"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Christian Delgado</a> commented on thread <a href="#/">Frontend Template PSD</a>
                </div>
              </div>
              <span class="timeline-time">12 mins ago</span>
            </li>
            <li class="mini-timeline-indigo">
              <div class="timeline-icon"><i class="ti ti-timer"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Jonathan Smith</a> added
                  <a href="#/" class="name">Frend Pratt</a> and <a href="#/" class="name">Robin Horton</a> to project
                  <a href="#/">Material Design Admin Template</a>
                </div>
              </div>
              <span class="timeline-time">6 hours ago</span>
            </li>
            <li class="mini-timeline-lime">
              <div class="timeline-icon"><i class="ti ti-pie-chart"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Vincent Keller</a> added new task <a href="#/">Admin Dashboard UI</a>
                </div>
              </div>
              <span class="timeline-time">4 mins ago</span>
            </li>
            <li class="mini-timeline-deeporange">
              <div class="timeline-icon"><i class="ti ti-user"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Shawna Owen</a> added
                  <a href="#/" class="name">Alonzo Keller</a> and <a href="#/" class="name">Mario Bailey</a> to project
                  <a href="#/">Wordpress eCommerce Template</a>
                </div>
              </div>
              <span class="timeline-time">6 mins ago</span>
            </li>
            <li class="mini-timeline-info">
              <div class="timeline-icon"><i class="ti ti-camera"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Christian Delgado</a> commented on thread <a href="#/">Frontend Template PSD</a>
                </div>
              </div>
              <span class="timeline-time">12 mins ago</span>
            </li>
            <li class="mini-timeline-indigo">
              <div class="timeline-icon"><i class="ti ti-check"></i></div>
              <div class="timeline-body">
                <div class="timeline-content">
                  <a href="#/" class="name block">Jonathan Smith</a> added
                  <a href="#/" class="name">Frend Pratt</a> and <a href="#/" class="name">Robin Horton</a> to project
                  <a href="#/">Material Design Admin Template</a>
                </div>
              </div>
              <span class="timeline-time">6 hours ago</span>
            </li>
            <li class="mini-timeline-default">
              <div class="timeline-body ml-n">
                <div class="timeline-content">
                  <button type="button" data-loading-text="Loading..." class="loading-example-btn btn btn-sm btn-default">See more</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>