<div class="static-content">
	<div class="page-content">
		<ol class="breadcrumb">
			<li><a sref="home">Home</a></li>
			<li><a sref="hotel"> Hotel</a></li>
			<li class="active"><a sref="hotelForecast"> Create Forecast</a></li>
		</ol>
		<div class="container-fluid">
			<div data-widget-group="group1" class="ui-sortable">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default" data-widget="{'draggable': 'false'}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
							<div class="panel-body" style="display: block;">
								<form class="form-horizontal row-border">
									<div class="form-group">
										<label class="col-sm-1 control-label">Select Project</label>
										<div class="col-sm-2">
											<select class="form-control" ng-options="project.projectId as project.name for project in projectListWithYear" ng-change="updatePeriod(selectedProject)"
															ng-model="selectedProject">
												<option value="">-- Select project --</option>
											</select>
										</div>
										<label class="col-sm-1 control-label">Select Period</label>
										<div class="col-sm-2">
											<select class="form-control" ng-options="period for period in projectPeriod" ng-model="selectedPeriod">
												<option value="">-- Select period --</option>
											</select>
										</div>
										<div class="col-sm-2">
											<button ng-click="updateForecastData(selectedProject, selectedPeriod)" ng-disabled="!selectedPeriod || !selectedProject" class="btn btn-primary-alt"><i class="ti ti-notepad"></i> Show Fields</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-inverse" ng-if="!forecastBoxShow" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
				Please select above filter to add forecast
				<button type="button" class="close" data-dismiss="alert">×</button>
			</div>
			<div data-widget-group="group1" class="ui-sortable" ng-if="forecastBoxShow">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default" data-widget="{'draggable': 'false'}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
							<form name="hotel_forecast" ng-submit="saveView()">
								<div class="panel-heading">
									<h2>Hotel Forecast</h2>
									<div class="panel-ctrls">
										<div class="DTTT btn-group pull-left mt-sm">
											<button class="btn btn-default DTTT_button_text" id="ToolTables_crudtable_0" type="submit" ng-disabled="hotel_forecast.$invalid"><i class="ti ti-plus"></i> <span>Save</span></button>
											<a class="btn btn-default DTTT_button_text" id="ToolTables_crudtable_1" ng-click="editView()"><i class="ti ti-pencil"></i> <span>Edit</span></a>
											<!-- <a class="btn btn-default DTTT_button_text" id="ToolTables_crudtable_2" ng-click="submitForecast()" ng-if="hotelRoles.isOperator"><i class="ti ti-upload"></i> <span>Submit</span></a>
											<a class="btn btn-default DTTT_button_text" id="ToolTables_crudtable_2" ng-click="approveForecast()" ng-if="hotelRoles.isController"><i class="ti ti-check-box"></i> <span>Approve</span></a>
											<a class="btn btn-default DTTT_button_text" id="ToolTables_crudtable_2" ng-click="rejectForecast()" ng-if="hotelRoles.isController"><i class="ti ti-close"></i> <span>Reject</span></a> -->
										</div>
									</div>
								</div>
								<div class="panel-body" style="display: block;">
									<div class="table-responsive table-bordered">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th style="padding-right:10px; width:155px;">Forecast Data Entry (by Months)</th>
													<th ng-repeat="(key,val) in months">{{val}}</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="forecast in forecastData">
													<td align="left"><i>{{forecast.fieldName}}</i></td>
													<td ng-if="forecastViewText">{{forecast.jan}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,1)" input-value="forecast.jan"
																		input-name="forecast.jan" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.feb}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,2)" input-value="forecast.feb"
																		input-name="forecast.feb" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.mar}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,3)" input-value="forecast.mar"
																		input-name="forecast.mar" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.apr}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,4)" input-value="forecast.apr"
																		input-name="forecast.apr" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.may}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,5)" input-value="forecast.may"
																		input-name="forecast.may" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.jun}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,6)" input-value="forecast.jun"
																		input-name="forecast.jun" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.jul}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,7)" input-value="forecast.jul"
																		input-name="forecast.jul" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.aug}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,8)" input-value="forecast.aug"
																		input-name="forecast.aug" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.sep}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,9)" input-value="forecast.sep"
																		input-name="forecast.sep" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.oct}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,10)" input-value="forecast.oct"
																		input-name="forecast.oct" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.nov}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,11)" input-value="forecast.nov"
																		input-name="forecast.nov" input-required="true" />
													</td>
													<td ng-if="forecastViewText">{{forecast.dec}}</td>
													<td ng-if="forecastViewInput">
														<number-only-input input-disable="forecast.IsEditable == 0" input-change="updateTotals($index,12)" input-value="forecast.dec"
																		input-name="forecast.dec" input-required="true" />
													</td>
													<td>{{forecast.total}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--comment Box -->
<div class="modal fade" id="comment-modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="rejectComment" class="form-horizontal" ng-submit="rejectForecastSubmit()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h2 class="modal-title">Reject Comment</h2>
				</div>
				<div class="modal-body">
					<div class="form-group" ng-class="{'has-error' : !rejectComment.comment.$valid}">
						<div class="col-sm-12">
							<textarea name="comment" placeholder="Please enter your comment.."  cols="50" rows="4" class="form-control" ng-model="rejectCommentText" required></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button class="btn btn-primary" ng-disabled="rejectComment.$invalid">Save changes</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>